.reply,
.edit {
  font-size: 12px;
  color: hsl(205.18deg 100% 50%);
  cursor: pointer;
  margin-right: 8px;
}

.comment {
  font-size: 16px;
  background-color: hsl(205.18deg 100% 50%);
  padding: 4px;
  color: white;
  border-radius: 4px;
  margin-top: 8px;
  cursor: pointer;
}

.delete img {
  font-size: 8px;
  position: absolute;
  right: -10px;
  top: 50%;
  width: 20px;
  cursor: pointer;
  transform: translateY(-50%);
}
